/* line 4, ../sass/default.scss */
body .game {
  margin: 50px auto;
  padding: 0;
  width: 1000px;
}
/* line 8, ../sass/default.scss */
body .game h1 {
  color: #353535;
}
/* line 11, ../sass/default.scss */
body .game .block {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
/* line 16, ../sass/default.scss */
body .game .block #boardgame {
  width: 800px;
  height: 700px;
  padding: 0;
  display: block;
  position: relative;
  overflow: visible;
  border: 5px solid #000;
}
/* line 25, ../sass/default.scss */
body .game .block canvas {
  display: block;
  position: absolute;
}
/* line 30, ../sass/default.scss */
body .game .block .dashboard {
  width: 180px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* line 35, ../sass/default.scss */
body .game .block .dashboard .size {
  width: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
/* line 40, ../sass/default.scss */
body .game .block .dashboard .size div {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
/* line 45, ../sass/default.scss */
body .game .block .dashboard .size div input {
  width: 65px;
  height: 30px;
  margin-top: 5px;
}
/* line 53, ../sass/default.scss */
body .game .block .dashboard button {
  margin: 10px;
  width: 150px;
  height: 50px;
  background-color: #e4e4e4;
  box-shadow: none;
  border: none;
}
/* line 62, ../sass/default.scss */
body .game .block .dashboard button:hover {
  background-color: #c5c5c5;
}
